* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* nav bar css */
nav {
  display: flex;
  flex-direction: row;
  background-color: #edf2f6;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black;  */
  /* background-color: blue; */
  height: 10vh;
  position: fixed;
}

.brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.brand-name {
  font-size: 1.7rem;
  font-weight: 700;
  color: #026fbf;
}

.nav-links {
  padding-top: 1rem;
  display: block;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.nav-item {
  font-size: 1rem;
  color: #026fbf;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.dnl-button {
  display: block;
}

.dnl-button button {
  border: 1px solid #026fbf;
  padding: 0.2rem;
  border-radius: 10px;
  color: #026fbf;
  background-color: transparent;
  transition: 0.5s;
}

.dnl-button button:hover {
  background-color: #026fbf;
  color: #fff;
}

.menu {
  color: #026fbf;
  display: none;
  z-index: 10;
}

/* hero section css */

#hero {
  background-color: #edf2f6;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

.hero-text .text {
  font-size: 4rem;
  color: #4b4b4b;
  font-weight: 500;
  line-height: 5rem;
}

.hero-text .text span {
  color: #026fbf;
}

.hero-button button {
  border: 2px solid #026fbf;
  border-radius: 10px;
  background-color: transparent;
  color: #026fbf;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.2rem;
  transition: 0.5s;
}

.hero-button button:hover{
    color: #fff;
    background-color: #026fbf;
}

.hero-img {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

/* about section css */

#about {
  background-image: url("assets/bg_animation.gif");
  background-size: cover;
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  /* height: auto; */
}

.about-content {
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  padding-top: 11vh;
  padding-left: 5rem;
  padding-right: 5rem;
}

.abt-sec-head {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2%;
  background-color: #fff;
  color: #4b4b4b;
  text-align: start;
}

.abt-sec-head span, .feature-sec-head span {
  color: #026fbf;
}

.abt-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10vh;
}

.event-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border-radius: 10px;
  gap: 1rem;
}

.event {
  background-color: #ffc3fa;
  margin-top: 20vh;
  margin-bottom: 0;
}

.tree {
  background-color: #c2eeff;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.circle {
  background-color: #c8baff;
  margin-top: 0;
  margin-bottom: 20vh;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-head {
  font-size: 1.5rem;
  color: #4b4b4b;
  font-weight: 500;
  text-align: center;
}

.card-des {
  font-size: 0.9rem;
  color: #4b4b4b;
  text-align: center;
}

/* features section css */

#features{
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.features-content{
  padding-top: 11vh;
  display: flex;
  flex-direction: column;
}

.feature-sec-head{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2%;
    color: #4b4b4b;
    text-align: start;
}

.feature-sec-main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.features{
  display: flex;
  flex-wrap: wrap;
}

.features-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-component{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: #4b4b4b;
  margin: 2%;
}

.feature_icon{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1E548;
}

.feature-heading{
  font-size: 1.3rem;

}

.feature-description{
  margin-top: -1rem;
  font-size: 0.8rem;
}


/* our app css */

#our-app{
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: auto;
  padding-bottom: 5rem;
}

.our-app-content{
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
  padding-top: 11vh;
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.our-app-text{
  background-color: #fff;
  height: fit-content;
  align-self: center;
  padding-right: 1rem;
}

.our-app-text h1{
  font-size: 2.5rem;
  color: #4b4b4b;
  font-weight: 600;
  line-height: 5rem;
}

.our-app-text h1 span{
  color: #026fbf;
}

/* media queries */

@media (max-width: 576px) {

  .hero-text {
    gap: 4rem;
  }
  .hero-text .text {
    font-size: 3rem;
  }
  .abt-sec-head {
    font-size: 2.5rem;
    text-align: center;
  }
  .our-app-content{
    flex-direction: column;
  }
  .our-app-text h1{
    font-size: 1rem;
  }
  #hero, #about, #features, #our-app{
    align-items: start;
  }
}

@media (max-width: 768px) {
  .menu {
    display: block;
  }
  .dnl-button,
  .nav-links {
    display: none;
  }
  .hero-img {
    display: none;
  }
  .hero-text .text {
    font-size: 3rem;
  }
  .event,
  .tree,
  .circle {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .abt-cards {
    flex-direction: column;
  }
  .features-image{
    display: none;
  }
  #hero, #about, #features, #our-app{
    align-items: center;
  }
}

@media (max-width: 992px) {
  #about, #features{
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  
}

@media (max-width: 1400px) {
  
}
